.carousel-inner img{
    width: 100%;
    height: 80%;
}
a.spoiler.collapsed:after{
    content: "Open v"
}
a.spoiler:after{
    content: "Close ^"
}
div .col-lg-6{
    height: 400px;
}
.breadcrumb > li + li::before{
    content: "\f105";
    font-family: "FontAwesome"
}
@media screen and (max-width: 767px){
    .masonry[data-columns]::before{
        content: '1 .col-xs-12';
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .masonry[data-columns]::before{
        content: '2 .col-xs-6';
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    .masonry[data-columns]::before{
        content: '3 .col-xs-4';
    }
}
@media screen and (min-width: 1200px){
    .masonry[data-columns]::before{
        content: '4 .col-xs-3';
    }
}
